'''
Settings variables
for authentication
'''

NETWORK_RAIL_USERNAME = ''
NETWORK_RAIL_PASSWORD = ''
NETWORK_RAIL_STOMP_HOST = ''
NETWORK_RAIL_STOMP_PORT = 0000
NETWORK_RAIL_STOMP_CLIENT_ID = ''
SIGNAL_AREA_CODE = ''